@use "sass:map";
@import "style/pages/all";

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;

	.container .row {
		margin-right: 15px;
		margin-left: 15px;
	}
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: map.get($theme-colors, "normal-text");
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}


.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	color: map.get($theme-colors, "normal-text");
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 16px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: map.get($theme-colors, "normal-text");
	font-size: 14px;
	line-height: 32px;
	text-decoration: none;
}

.footer__widget p {
	font-size: 14px;
	color: map.get($theme-colors, "normal-text");
	margin-bottom: 30px;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: map.get($theme-colors, "normal-text");
	height: 46px;
	border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
	color: map.get($theme-colors, "normal-text");
}

.footer__widget form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget h6 {
	color: map.get($theme-colors, "normal-text");
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget p {
	color: map.get($theme-colors, "normal-text");
	font-size: 14px;
	margin-bottom: 30px;
}

.footer__widget .footer__widget__social {
	display: flex;
	align-items: center;

	div {
		margin-right: 10px;

		:hover {
			background: map.get($theme-colors, "main");
			color: #ffffff;
			border-color: #ffffff;
		}

		svg {
			font-size: 20px;
			padding: 10px;
			color: #404040;
			border: 1px solid #ededed;
			border-radius: 50%;
			transition: all, 0.3s;
			background: #ffffff;
			cursor: pointer;
		}
	}
}