/* src/OrderStatus.scss */
@use "sass:map";
@import "style/pages/all";

.container {
    width: 80%;
    margin: auto;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .tab {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid red;
    cursor: pointer;
    
    &.active {
      background-color: red;
      color: white;
    }
  }
  
  .order-list {
    border-top: 1px solid #ddd;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .order-image {
    width: 100px;
    height: 100px;
  }
  
  .order-info {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .order-price {
    font-weight: bold;
  }
  